
  <div style="background-color: #fff; margin: 0 auto;">
    <p style="font-size: 14px;">
      Ein Benutzer hat mit Ihrem Empfehlungscode geworben. Sie haben 100 Punkte, wenn sie bestellen
    </p>
    <div>

</div>
    <p>Brauchen Sie Hilfe? Bitte kontaktieren Sie den Support über das App-Hilfezentrum und wir werden uns innerhalb von 24 Stunden bei Ihnen melden.</p>
    <strong><p>Ferdinandcoffee Team</p></strong>